---

---
<header class="row bc1">

  <div id="header" class="vbox flex aitems-center jcontent-between">

    <div id="right-header" class="flex low-gap">
      <div id="title" class="tc2"> کاسپین وب </div>
      <div id="alt-title" class="tc1 bc2"> داکیومنت </div>
    </div>

    <div id="left-header">
      <div id="eyes" class="flex aitems-center jcontent-center">
        <div id="eye1" class="eye bc2"></div>
        <div id="eye2" class="eye bc2"></div>
        <div id="eye3" class="eye bc2"></div>
      </div>
    </div>
    
  </div>

</header>

<style>
  /* Headers */
  #header{
    height:3rem;
  }
  #right-header div{
  }
  #left-header{}

  /* Title */
  #title{}
  #alt-title{
    padding:0 4px;
    border-radius:3px;
  }

  /* Eyes */
  #eyes{
    width:32px;
    height:32px;
    gap:4px;
  }
  .eye{
    width:8px;
    height:8px;
    border-radius:2px;
  }
</style>