---

---
<header class="row bc1">
  <div id="header" class="vbox flex aitems-center">
    <div id="right-header" class="flex low-gap">
      <div id="" class="tc2"> کاسپین وب </div>
      <div id="" class="tc1 bc2"> داکیومنت </div>
    </div>
  </div>


</header>

<style>
  #header{
    height:3rem;
  }
  #right-header div{
    padding: 0 4px;
  }
</style>