---
import Layout from "../../../layouts/Layout.astro";
import DocPartMapper from "../../../components/DocPartMapper.astro";

// https://www.youtube.com/watch?v=Eq0j71oLsFs
// https://caseyjamesperno.com/blog/sort-astro-glob/

const part0 = await Astro.glob('../javascript/part0/*.md');
const part1 = await Astro.glob('../javascript/part1/*.md');
const part2 = await Astro.glob('../javascript/part2/*.md');
const part3 = await Astro.glob('../javascript/part3/*.md');
const part4 = await Astro.glob('../javascript/part4/*.md');
---
<Layout section_title="Java Script">
  <div class="vbox">

    <div class="language">
      <h3 id="language-title" class="tc1"> جاوا اسکریپت | Java Script </h3>
    </div>

    

    <DocPartMapper part={part0} part_id="part" part_title=" پارت صفر : قبل استفاده "/>
    <DocPartMapper part={part1} part_id="part" part_title=" پارت اول : پیش نیاز ها "/>
    <DocPartMapper part={part2} part_id="part" part_title=" پارت دوم : مقدمات "/>
    


  </div>
</Layout>

<style>
  #language-title{margin:1rem 0;}
  

</style>