---
export interface Props {
	ics_title: string;
}
const {
  ics_title
} = Astro.props;
---
<div id="icon_cards_section">

  <div id="icon_cards_section-title">
    <h3 class="tc1"> {ics_title} </h3>
  </div>

  <div id="icon_cards">
    <slot/>
  </div>

</div>

<style>
  #icon_cards_section{margin-bottom:3rem;}
  #icon_cards_section-title{margin:0.5rem 0;}

  #icon_cards{display:grid;}
  @media(max-width:480px){#icon_cards{grid-template-columns:1fr 1fr 1fr;}}
  @media(min-width:480px){#icon_cards{grid-template-columns:1fr 1fr 1fr 1fr;}}
  @media(min-width:768px){#icon_cards{grid-template-columns:1fr 1fr 1fr 1fr 1fr;}}
  @media(min-width:1280px){#icon_cards{grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;}}
</style>